body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-weight: 500;
}
/* Encabezaso*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 15px 40px;
    border-bottom: 2px solid #eee;
}

.logo {
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
}
.IMAGENES img {
    height: 70px;
    width: auto;
    object-fit: contain;
}

/*MENU*/
.menu {
    display: flex;
    gap: 10px;
}

.menu a {
    text-decoration: none;
    color: #1e40af;
    font-weight: 600;
    padding: 6px 10px;
    border-radius: 50px;
}
.menu a:hover {
    background: #ffffff;
}

.menu a.activo {
    background: #d0e2f8;
}

.menu a.activo:hover {
    background: #93c5fd;
}
/*BIENVENIDOS*/
.banner {
    height: 700px; 
    background-image: url("IMAGENES/BIENVENIDOS.png"); 
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px; 
    color: rgb(255, 255, 255);
}
/* Roboto Black */
.titulo-principal {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 48px;
    margin-bottom: 20px;
}
/* Roboto SemiBold */
.texto-banner {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.6;
    margin-bottom: 30px;
}
/*Conocenos*/
@media @media (max-width: 900px) {
.conocenos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 100px;
    gap: 60px;
    background-color: #ffffff;
}

/* TEXTO */
.conocenos-texto {
    width: 40%;
}

.titulo-conocenos {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 48px;
    margin-bottom: 20px;
}

.texto-conocenos {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 30px;
}
}

/* VIDEO */
.video {
    width: 55%;
}

.video iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 18px;
    border: none;
}
/*ajuste*/
@media (max-width: 900px) {
    .conocenos {
        flex-direction: column;
        padding: 60px 30px;
        text-align: center;
    }

    .conocenos-texto,
    .video {
        width: 100%;
    }

    .titulo-conocenos {
        font-size: 36px;
    }

    .texto-conocenos {
        font-size: 18px;
    }
}

